.container{
    display: flex;
    justify-content: center;

    font-family: Arial, sans-serif;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 30vw;
    height: 95vh;
    padding: 10px 0;
    margin-top: 50px;

    box-shadow: 0 15px 30px 0 rgba(0,0,0,.1);
}

.container-form__title{
    align-self: center;
    color: #000000;
    font-size: 21px;
    font-style: normal;
}

.container-form-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
}

.container-form-field__label{
    padding-bottom: 5px;
    color: #999999;
    font-size: 15px;
}

.field{
    height: 30px;
    border: none;
    border-bottom: 1px solid #999999;
}

.field_error{
    border-bottom: 1px solid #e00;
}

.field:focus{
    outline: 0;
    border-bottom: 2px solid #fac000;
}

.container-form__registration{
    align-self: center;
    width: 90%;
    height: 44px;

    background-color: #fac000;
    border: none;
    border-radius: 4px;
}

.container-form__registration:hover{
    background-color: #f0b800;
    cursor: pointer;
}

.container-form-agreement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90%;
}

.container-form-agreement-item{
    display: flex;
    justify-content: space-between;
}

.container-form-agreement-item__chexbox{
    align-self: flex-start;
}

.container-form-agreement-item__text{
    padding-left: 5px;
}

.container-form-agreement__text{
    color: #999999;
    font-size: 13px;
}

.link:hover{
    color: #e00;
}